body{
    background-color: #fff;
}



section.filter{
    margin:var(--spacing) 0;
    color: #000000c0;
    font-size: 18pt;
    font-weight: 100px;
}

section.filter ul{
    display: flex;
}

section.filter  ul li{
    display: flex;
    margin:0 calc(var(--spacing) / 2 );
    align-items: center;
    justify-content: center;
    padding: var(--spacing)
}